*{
    margin: 0px;
    padding: 0px;
}

@font-face{
     font-family:'EBGaramond-Bold'; 
     src: url('EBGaramond-Bold.ttf')
}

@font-face{
    font-family:'EBGaramond-Italic'; 
    src: url('EBGaramond-Italic.ttf')
}

@font-face{
    font-family:'EBGaramond-Regular'; 
    src: url('EBGaramond-Regular.ttf')'
}

@font-face{
    font-family:'OpenSans-SemiBold'; 
    src: url('OpenSans-SemiBold.ttf')
}

@font-face{
    font-family:'OpenSans-Regular'; 
    src: url('OpenSans-Regular.ttf')
}



/*organisation des blocks*/
/*le bloc header*/
header {
    display: flex;
    width:100%;
    height: 80px ;
    position: fixed;
    justify-content:stretch;
    align-items: center;
    flex-direction: row;
    background-color:  #574C38;
    z-index:1;
}

.logo{
    display: flex;
    width: 670px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
    font-size: 14px;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;  
    color: #FEFAE0;
}


nav ul{    
    width: 300px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
    list-style-type:none;
}

nav li a{
    text-decoration: none;
    font-size:11px;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;  
    color: #FEFAE0;
}

nav li :hover{
    text-decoration: underline;
}


/*bloc accueil*/

#accueil{
    display: flex;
    width: 100%;
    height:500px;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    background-image: url("/home/mvigouroux/Documents/Site pour un artisan/assets/img/salon.jpg");
    background-repeat: no-repeat;
}

h1 {
    display:flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    font-family: 'EBGaramond-Bold';;
    font-size: 60px;
    color:  #574C38;
}

q {
    font-family: 'EBGaramond-Italic';
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color:  #574C38; 
}


/*bloc présentation*/
.présentation {
    display:flex;
    width: 100%;
    height:300px;
    justify-content: center;
    flex-direction: row; 
    background-color:#FEFAE0;
}

.texte{
    display: flex;
    width: 400px;
    margin: 30px;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}

section div h2{
    font-family:'OpenSans-SemiBold';
    font-size: 24px;
    color:  #574C38;
}

p {
    width: 400px;
    padding-top: 10px;
    font-family:'OpenSans-Regular';
    font-size: 14px;
    text-decoration: none;
    color:   #574C38;
}

.cadre_image{
    display: flex;
    width: 400px;
    height: 250px;
    margin: 30px;
    border-color: #FEFAE0;
    justify-content: center;
    overflow: hidden;
    position:relative;
}

.photo_rita{
    width:100%;
    height: auto;
    position: absolute;
    top:0;
}

/*bloc articles*/
.gammes{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: space-between;
    flex-direction: column; 
    background-color:#FEFAE0;
}
#gammes {
    display:flex;
    width: 100%;
    height: 100px ; 
    padding-top: 30px;
    padding-bottom:30px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color:#FEFAE0;
}

.titre_produits{
    font-family: 'EBGaramond-Bold';;
    font-size: 50px;
    color:  #574C38;
}

h3{
    font-family: 'EBGaramond-Italic';
    font-size: 30px;
    color:  #574C38; 
}

.container_produits{
    display: flex;
    width: 900px;
    height: 800px;
    padding-left: 230px;
    background-color: #FEFAE0;
    justify-content: space-around;
    flex-flow: row wrap;
}


section article{
    display: flex;
    width: 400px;
    height: 340px;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #FEFAE0;
}


article {
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: #FEFAE0;
    text-align: center;
    justify-content:center;
    align-items:center;
}

h4 {
    width: 100px;
    height: 28px;
    font-family:'OpenSans-SemiBold';
    font-size: 24px;
    color:  #574C38;
}

section article a{
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.img_art_1{
    width: 100%;
    height: auto;
}

.img_art_2{
    width: auto;
    height: 300px;
    object-fit:cover;
}

.img_art_3{
    width: 100%;
    height: auto;
}

.img_art_4{
    width: 100%;
    height: auto;
}

/*bloc contact*/
.contact {
    display: flex;
    height: 300px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #E2B178;
    color: #FEFAE0;
}

.contact p{
    width: 600px;
    height: 50px ;
    text-align: center;
    margin: 10px;
    font-family:'OpenSans-Regular';
    font-size: 12px;
    text-decoration: none;
    color:#FEFAE0; 
}

.bouton {
    display: flex;
    width:200px;
    height:30px;
    margin: 10px;
    padding: 10px;
    border: 2px solid  #FEFAE0;
    border-radius: 10px;
    font-family: 'OpenSans-Regular';
    font-size: 16px;;
    text-transform: uppercase;  
    text-decoration: none;
    color: #FEFAE0;
    align-items: center;
    justify-content: center;
}

.liens{
    display: flex;
    width: 150px;
    height: 30px;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.icone{
    width: 30px;
    height:30px;
}



/*bloc footer*/
footer {
    display:flex;
    justify-content: center;
    padding: 30px;
    background-color:  #574C38;
}


footer a {
    text-decoration: none;
    font-size: 9px;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;  
    color: #FEFAE0;
}






