*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family:'EBGaramond-Bold'; 
    src: url('EBGaramond-Bold.ttf')
}

@font-face{
   font-family:'EBGaramond-Italic'; 
   src: url('EBGaramond-Italic.ttf')
}

@font-face{
   font-family:'EBGaramond-Regular'; 
   src: url('EBGaramond-Regular.ttf')'
}

@font-face{
   font-family:'OpenSans-SemiBold'; 
   src: url('OpenSans-SemiBold.ttf')
}

@font-face{
   font-family:'OpenSans-Regular'; 
   src: url('OpenSans-Regular.ttf')
}


/*organisation des blocks*/
/*le bloc header*/
header {
    display: flex;
    width:100%;
    height: 80px ;
    position: fixed;
    justify-content:stretch;
    align-items: center;
    flex-direction: row;
    background-color:  #574C38;
    z-index:1;
}

.logo{
    display: flex;
    width: 670px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
    font-size: 14px;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;  
    color: #FEFAE0;
}


nav ul{    
    width: 300px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
    list-style-type:none;
}

nav li a{
    text-decoration: none;
    font-size:11px;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;  
    color: #FEFAE0;
}

nav li :hover{
    text-decoration: underline;
}

/*bloc article*/
.bloc_article {
    display: flex;
    width: 100%;
    height: 1200px;
    flex-direction: row;
    justify-content: flex-start;
    align-items:stretch;
    background-color:#FEFAE0;
}

.article {
    display: flex;
    width: 640px;
    height: 1000px;
    padding:150px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h3{
    padding-top:30px;
    font-family:'OpenSans-Regular';
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;  
    color:  #574C38;
}

article h2{
    padding-top:20px;
    padding-bottom: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 50px;
    color:  #574C38;
}



.image_article{
    width: 640px;
    height: 350px;
    overflow:hidden;
    position:relative;
}

.texte{
    display: flex;
    width: 640px;
    margin-top:20px;
    justify-content: flex-start;
    flex-direction: column;
}

article section p{
    padding-top:20px;
    font-family:'OpenSans-Regular';
    font-size: 12px;
    text-decoration: none;
    color:   #574C38; 
}


/*bloc flottant*/
aside{
    display:flex;
    width: 200px;
    height: 400px;
    padding-top: 220px;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
}

aside a img{
    width: 200px;
    height: 200px;
    padding-bottom:20px;
}


.img_art_1{
    width: 100%;
    height: auto;
    position:absolute;
    top:-157px;
}

.img_art_2{
    width: 100%;
    height: auto;
    object-fit:cover;
    position:absolute;
    bottom:0;
}

.img_art_3{
    width: 100%;
    height: auto;
    position:absolute;
    bottom:-124px;
}

.img_art_4{
    width: 100%;
    height: auto;
    position:absolute;
    bottom:0;
}


/*bloc contact*/
.contact {
    display: flex;
    height: 300px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #E2B178;
    color: #FEFAE0;
}

.titre_contact{
    font-family: 'EBGaramond-Regular';
    color: #FEFAE0;
}

.contact p{
    width: 600px;
    height: 50px ;
    text-align: center;
    margin: 10px;
    font-family:'OpenSans-Regular';
    font-size: 12px;
    text-decoration: none;
    color: #FEFAE0; 
}

.bouton {
    display: flex;
    width:200px;
    height:30px;
    margin: 10px;
    padding: 10px;
    border: 2px solid  #FEFAE0;
    border-radius: 10px;
    font-family: 'OpenSans-Regular';
    font-size: 16px;;
    text-transform: uppercase;  
    text-decoration: none;
    color: #FEFAE0;
    align-items: center;
    justify-content: center;
}

.liens{
    display: flex;
    width: 150px;
    height: 30px;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.icone{
    width: 30px;
    height:30px;
}



/*bloc footer*/
footer {
    display:flex;
    justify-content: center;
    padding: 30px;
    background-color: #574C38;
}


footer a {
    text-decoration: none;
    font-size: 9px;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;  
    color: #FEFAE0;
}
